<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610656835940-29ltbb4d476d9gp07jeb4jahsg97ermf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610656835940-29ltbb4d476d9gp07jeb4jahsg97ermf</string>
	<key>API_KEY</key>
	<string>AIzaSyBnv6b72SmWWyfLNRcqixK1-_MiVxGZKws</string>
	<key>GCM_SENDER_ID</key>
	<string>610656835940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.googel.Codigo</string>
	<key>PROJECT_ID</key>
	<string>codigo-a99b0</string>
	<key>STORAGE_BUCKET</key>
	<string>codigo-a99b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610656835940:ios:d96ab187e817d195738271</string>
</dict>
</plist>